  <p>
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :section %><br />
    <%= form.text_field :section %>
  </p>
  <p>
    <%= form.label :permalink %><br />
    <%= form.text_field :permalink %>
  </p>
  <p>
    <%= form.label :body %><br />
    <%= form.wysihat_editor :body %>
  </p>
  <p>
    <%= form.label :published %><br />
    <%= form.check_box :published %>
  </p>
