- title "Announcements"

%table
  %tr
    %th What
    %th Date/Time
    %th Location
    %th Details
    %th Published
  - for announcement in @announcements
    %tr
      %td= h announcement.what
      %td= h announcement.display_date_and_time
      %td= h announcement.location
      %td= h announcement.details
      %td= h announcement.published
