
<%= javascript_include_tag :ckeditor %>

  <p>
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :date %><br />
    <%= form.date_select :date %>
  </p>
  <p>
    <%= form.label :permalink %><br />
    <%= form.text_field :permalink %>
  </p>
<!--  <p>
    <%= form.label :url %><br />
    <%= form.text_field :url %>
  </p>
  -->
  <p>
    <%= form.label :verses %><br />
    <%= form.text_field :verses %>
  </p>
  <p>
    <%= form.label :notes %><br />
    <%= form.text_area :notes %>
  </p>
  <p>
    <%= form.label :published %><br />
    <%= form.check_box :published %>
  </p>
