= javascript_include_tag :ckeditor
%p
  = form.label :title
  %br
  = form.text_field :title
%p
  = form.label :date
  %br
  = form.date_select :date
%p
  = form.label :permalink
  %br
  = form.text_field :permalink
%p
  = form.label :verses
  %br
  = form.text_field :verses
%p
  = form.label :notes
  %br
  = form.text_area :notes
%p
  = form.label :published
  %br
  = form.check_box :published
