%h1
  Editing sermon

- form_for([:admin, @sermon]) do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  %p
    = f.submit 'Update'

= link_to 'Back', admin_sermons_path
|
= link_to 'Destroy', [:admin, @sermon], :confirm => 'Are you sure?', :method => :delete
