<h1>Listing sermons</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Verses</th>
    <th>Published</th>
    <th>Version</th>
  </tr>

<% @sermons.each do |sermon| %>
  <tr>
    <td><%=h sermon.title %></td>
    <td><%=h sermon.url %></td>
    <td><%=h sermon.verses %></td>
    <td><%=h sermon.published %></td>
    <td><%= link_to 'Preview', sermon, :target => '_blank' %></td>
    <td><%= link_to 'Edit', edit_admin_sermon_path(sermon) %></td>
    <td><%= link_to 'Destroy', [:admin, sermon], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sermon', new_admin_sermon_path %>
