%h1
  Listing sermons
%table
  %tr
    %th
    %th
      Published

  - @sermons.each do |sermon|
    %tr
      %td= link_to "#{sermon.display_date} - #{sermon.title}", edit_admin_sermon_path(sermon)
      %td= h(sermon.published) ? 'Yes' : 'No'
      %td= link_to 'Preview', sermon, :target => '_blank'

  %br
    = link_to 'New sermon', new_admin_sermon_path

