<p>
  <b>Title:</b>
  <%=h @sermon.title %>
</p>

<p>
  <b>Permalink:</b>
  <%=h @sermon.permalink %>
</p>

<p>
  <%=h @sermon.url %>
  <%=h @sermon.verses %>
  <%=h @sermon.notes %>
</p>

<p>
  <b>Published:</b>
  <%=h @sermon.published %>
</p>


<%= link_to 'Edit', edit_admin_sermon_path(@sermon) %> |
<%= link_to 'Back', admin_sermons_path %>
