    <!-- sidebar -->
    <div class="grid_4 alpha omega" id="sidebar">
        <div class="sidebox">
          <h4>Wednesday, <%= next_wednesday(1) %></h4>
            <ul>
              <li><b>5:30pm - 6:15pm</b> <br>Fellowship Meal
                <%= @wed_night_meal ? '(' + @wed_night_meal.name + ')' : nil %>
              </li>
              <li><br><b>6:20pm - 7:30pm</b> <br>Adult Study, Youth Alter Call, Children Music &amp; Missions</li>
            </ul>
            <h4>Sunday, <%= next_sunday(1) %></h4>
            <ul>
              <li><b>9:15 am</b> - Bible Study</li>
              <li><b>8am &amp; 10:30 am</b> - Morning Worship</li>
              <li><b>5:30 pm</b> - Discipleship</li>
            </ul>
        </div>


    <% if @announcements %>
    <div class="grid_4 omega content_box" id="col-2">
    <h3>Announcements</h3>
    <ul>
    <% @announcements.each do |a| %>
      <!--<li><b><%=h a.display_date_and_time %></b> - <%= link_to a.what, a %></li>-->
      <li><b><%=h a.display_date_and_time %></b> - <%= a.what %></li>
      <!--<li style="padding: 5px 0 5px 0;">
        <h5><%= a.what %></h5>
        <b><%=h a.display_date_and_time %></b>
        <br>
      </li>-->
      <% end %>
    </ul>
    <%= link_to 'View All Announcements', announcements_path %>
    </div>
  <% end %>

    <% if @happening %>
      <div class="grid_4 omega content_box" id="col-2">
        <h3>Temple Happenings</h3>
        <div>
          <%= @happening.details.html_safe %>
        </div>
        <br>
        <%= link_to 'Download Happenings' + @happening.name, @happening.image.url, :class => 'red_button' %>
      </div>
    <% end %>


    <% if false %>
    <!--
    <% upcoming_events.each do |event| %>
    <div class="event-item">
        <a href="#"><%= event[:title] %></a>
        
        <p><strong>Date:</strong>
        <%= event[:start] %><br />
        <%= event[:end] %>
        </p>

    </div>
    <% end %>
    -->
    <% end %>
    <!--
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
    </ul>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
    </ul>
    -->
    </div>
