<h1>Listing wed_night_suppers</h1>

<table>
  <tr>
    <th>Meal</th>
    <th>Date</th>
    <th>Published</th>
  </tr>

<% @wed_night_suppers.each do |wed_night_supper| %>
  <tr>
    <td><%=h wed_night_supper.meal %></td>
    <td><%=h wed_night_supper.date %></td>
    <td><%=h wed_night_supper.published %></td>
    <td><%= link_to 'Show', wed_night_supper %></td>
    <td><%= link_to 'Edit', edit_wed_night_supper_path(wed_night_supper) %></td>
    <td><%= link_to 'Destroy', wed_night_supper, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New wed_night_supper', new_wed_night_supper_path %>