<p>
  <b>Meal:</b>
  <%=h @wed_night_supper.meal %>
</p>

<p>
  <b>Date:</b>
  <%=h @wed_night_supper.date %>
</p>

<p>
  <b>Published:</b>
  <%=h @wed_night_supper.published %>
</p>


<%= link_to 'Edit', edit_wed_night_supper_path(@wed_night_supper) %> |
<%= link_to 'Back', wed_night_suppers_path %>