- semantic_form_for @sermon do |form|
  - form.inputs do
    = form.input :title, :label => 'Title'
    = form.input :description, :label => 'Description'
    = form.input :podcast_filename, :label => 'Podcast filename'
    = form.input :video_filename, :label => 'Video filename'
    = form.input :published, :label => 'Published'
    = form.submit 'Submit'
