- semantic_form_for ([:admin, @announcement]) do |f|
  %fieldset.inputs
    %ol
      %li
        = f.input :what, :as => :string, :label => "Title"
        = f.input :location, :as => :string, :label => "Location"
        = f.input :ann_date, :label => "Date"
        = f.input :ann_time, :label => "Time"
        = f.input :details, :as => :text, :label => "Details/Additional Info"
        = f.input :published, :as => :boolean, :label => "Published"
        = f.buttons
