- title "Announcements"

%p= link_to "New Announcement", new_admin_announcement_path

- unless @active.empty?
  %h2 Active Announcements
  %table
    %tr
      %th Announcement/Event
      %th Date/Time
      %th Published
    - for announcement in @active
      %tr
        %td= link_to announcement.what, edit_admin_announcement_path(announcement)
        %td= h announcement.display_date_and_time
        %td= h announcement.published ? 'Yes' : 'No'
        %td= link_to 'View', [:admin, announcement]

- unless @inactive.empty?
  %h2 InActive Announcements
  %table
    %tr
      %th Announcement/Event
      %th Date/Time
      %th Published
    - for announcement in @inactive
      %tr
        %td= link_to announcement.what, edit_admin_announcement_path(announcement)
        %td= h announcement.display_date_and_time
        %td= h announcement.published ? 'Yes' : 'No'
        %td= link_to 'View', [:admin, announcement]

%p= link_to "New Announcement", new_admin_announcement_path
