- title "Announcements"

%table
  %tr
    %th What
    %th Date
    %th Location
    %th Details
    %th Published
  - for announcement in @announcements
    %tr
      %td= h announcement.what
      %td= h announcement.announcement_date
      %td= h announcement.location
      %td= h announcement.details
      %td= h announcement.published
      %td= link_to 'Show', [:admin, announcement]
      %td= link_to 'Edit', edit_admin_announcement_path(announcement)
      %td= link_to 'Destroy', [:admin, announcement], :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Announcement", new_admin_announcement_path
