<%= semantic_form_for [:admin, @happening] do |f| %>
  <%= f.inputs :name, :details %>
  <%= f.inputs :name => "PDF" do %>
    <%= f.input :image, :as => :file, :label => 'Upload PDF:' %>
    <% if @happening.image %>
      <li id="happening_current" class="string optional">
        <label for="happening_current">Current PDF:</label><span><%= @happening.image_identifier %></span>
      </li>
    <% end %>
  <% end %>
  <%= f.buttons %>
<% end %>
