<p>
  <b>Title:</b>
  <%=h @prayerandpraise.title %>
</p>

<p>
  <b>Email:</b>
  <%=h @prayerandpraise.email %>
</p>

<p>
  <b>Body:</b>
  <%=h @prayerandpraise.body %>
</p>

<p>
  <b>Published:</b>
  <%=h @prayerandpraise.published %>
</p>


<%= link_to 'Edit', edit_prayerandpraise_path(@prayerandpraise) %> |
<%= link_to 'Back', prayerandpraises_path %>