<h1>About</h1>
<p>Temple Baptist Church is a fellowship of caring believers who have joined together
under the Lordship of Jesus Christ and the Leadership of the Holy Spirit to:</p>
<ul>
<li><b>Worship</b> God and obey His commandments through a Christ-centered lifestyle (Heb. 10:35);</li>
<li><b>Witness</b> to God's love by sharing the Good News about God's plan of salvation to believers and unbelievers worldwide (Acts 1:8; 4:12);</li>
<li><b>Teach</b> God's Word, resulting in spiritual maturity and service (1 John 2:3-5); and</li>
<li><b>Minister</b> joyfully, meeting spiritual, physical and social needs of the people in our church and in our community (Galatians 6:10) </li>
</ul>

<br />
<hr />
<br />

<h1>Staff</h1>

<ul id="staff_index">
<li>
<img src="/images/staff/hd_jones_sm.jpg" />
<h2>HD Jones, Senior Pastor</h2>
<h6><%= mail_to 'hd@templetoday.com' %></h6>
<p>H.D. worked as a CPA and owned his own training and recruitment business in the Nashville area for 14 years while being in lay leadership as a Deacon, Youth Sunday School Teacher, Discipleship Training Director/Teacher, VBS Adult Teacher, Robertson County Baptist Assocation Discipleship Director, and leader of various training classes for the church body where he attended.</p>

<p>Through these opportunities, God placed a desire in his heart for ministry.  He began taking seminary classes to obtain his master's degree in religious studies and seeking ways God could use him through a vocation in ministry.  H.D. served as the Interim Youth Minister at Bethel Baptist Church for almost two years.  Temple Baptist Church called him to be their Minister of Deiscipleship and Outreach on a part-time basis in January 2003.  He then was brought on full-time in 2004 as the Associate Pastor and was called to be Temple's Senior Pastor in June 2008.</p>

<p>H.D. and Susan have three children - Marie, Reid, and Micah.  They count it a blessing to be able to serve the Lord in such a wonderful church body.  They are constantly amazed by all God is doing through Temple Baptist Church in White House, TN.</p>

</li>

<li>
<img src="/images/staff/jonathan_finch_sm.jpg" />
<h2>Jonathan Finch, Minister of Youth</h2>
<h6><%= mail_to 'jonathan@templetoday.com' %></h6>

<p>Jonathan Finch grew up attending Temple Baptist Church and his heart is that all students will come to know the Lord as their Savior.  Jonathan met the Lord in 1996 before graduating from White House High School in 1998.  Jonathan went on to receive a football scholarship and graduated from Lambuth University.  He served as Youth Pastor at Whiteville First Baptist Church for three years and at Grace Park for another two years before being called back to his home church as Youth Pastor.</p>

<p>Jonathan and his wife, Johnna, have one daughter, Aspen.  Jonathan and Johnna give God all the glory for the group of students they get to call "family."</p>
</li>


<li>
<img src="/images/staff/stacy_spears_sm.jpg" />
<h2>Stacy Spears, Director of Children</h2>
<h6><%= mail_to 'stacy@templetoday.com' %></h6>
<p>Stacy has served as Children's Ministry Directory at Temple Baptist for six years.  Prior to that, Stacy counseled children through the Robertson County Juvenile Court as is a graduate of the Western Kentucky University with a Bachelors of Sociology and Double Minor in Psychology and Criminology.  Stacy was raised in a Christian home and attended church with her family in Robertson County.  She strives for her ministry to reach not only children but for their families to know and love the Lord as well.</p>
<p>Stacy and her husband, Michael, have been married for 14 years and have two children, Morgan and Alec.  Scrapbooking, reading and Bible study are Stacy's favorite hobbies.</p>
</li>

<li>
<img src="/images/staff/tracie_joiner_sm.jpg" />
<h2>Tracie Joiner, Ministry Assistant</h2>
<h6><%= mail_to 'tracie@templetoday.com' %></h6>
<p>Tracie Joiner has served as Temple's Church Secretary for four years.  She was born and raised in Robertson County and is an active member at Bethel Baptist Church with her three children.</p>
</li>

<li>
<img src="/images/staff/melinda_cooper_sm.jpg" />
<h2>Melinda Cooper, Financial Secretary</h2>
<h6><%= mail_to 'melinda@templetoday.com' %></h6>
<p>Temple's Financial Secretary is Melinda Cooper.  Melinda and her husband, Eddie, are originally from Missouri but moved to White House with their three boys in 2005 and are active members of Temple Baptist.</p>
</li>

<li>
<img src="/images/staff/becky_jenkins_sm.jpg" />
<h2>Becky Jenkins, Ministry Assistant &amp; Mother's Day Out Director</h2>
<h6><%= mail_to 'becky@templetoday.com' %></h6>
<p>Becky Jenkins serves as part-time Ministry Assistant &amp; Mother's Day Out Director.  Becky and her husband, Mark, have three children - Caleb, Jacob, and Mackenzie.</p>
</li>

</ul>
