<h1>Contact</h1>

<h5>Temple Baptist Church</h5>
<h6>117 Marlin Road<br/>
White House, TN 37188
<br/>
(615) 672-5339
<br/>
<%= mail_to 'info@tbwh.org' %>
</h6>


<hr />

<p>Please use the form below to request information about Temple Baptist Church or by emailing <%= mail_to 'info@tbwh.org' %>.  You may contact staff members individually via their email located on the <a href="/about">About page</a>.</p>

<h3 class="temple_red"><%= flash[:notice] %></h3>
<br/>
<%= error_messages_for('contact_handler') %>

<% form_for(:contact_handler, :url => contact_url, :html => { :class => 'contact' }) do |f| %>
  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>

	<div>
    <%= f.label 'Message:' %><br />
    <%= f.text_area :body %>
  </div>

<br />
	<div>
    <%= f.submit 'Send' %>
	</div>
<br />
<% end %>
