<h1>Prayer Ministry</h1>

<p>Please use the form below to securely submit your prayer/praise request to the Temple Prayer Ministry.  You may also email <b><%= mail_to 'prayer@templetoday.com' %></b>.</p>

<h3 class="temple_red"><%= flash[:notice] %></h3>
<br/>

<%= error_messages_for('prayer_handler') %>

<%= form_for(:prayer_handler, :url => prayer_url, :html => { :class => 'form' }) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </p>

   <p>
    <%= f.label 'Prayer/Praise' %>
    <%= f.text_area :body %>
   </p>

   <p>
    <%= f.label 'Add to printed prayer list' %>
    <%= f.check_box :add_to_bulletin %>
   </p>

	<p class="submit">
    <%= f.submit 'Send' %>
	</p>
<% end %>
