<h1>Prayer Ministry</h1>

<p>Please use the form below to securely submit your prayer/praise request to the Temple Prayer Ministry.  You may also email <a href="mailto:prayer@tbwh.org">prayer@tbwh.org</a>.</p>

<h3 class="temple_red"><%= flash[:notice] %></h3>
<br/>

<%= error_messages_for('prayer_handler') %>

<% form_for(:prayer_handler, :url => prayer_url, :html => { :class => 'prayer' }) do |f| %>
  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
    <br/>
   <div>
    <%= f.label 'Prayer/Praise Request' %><br />
    <%= f.text_area :body %>
   </div>

    <br/>
   <div>
    <%= f.check_box :add_to_bulletin %>
    <%= f.label 'Add to printed prayer list' %>
   </div>

    <br/>
	<div>
    <%= f.submit 'send' %>
	</div>
<% end %>
