<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Temple Baptist Church, White House, TN</title>
    <%= javascript_include_tag "jquery", "jquery.tools.min", "jquery.droppy", "fullcalendar/fullcalendar", "fullcalendar/gcal", "flowplayer-3.1.4.min", "application", :cache => true %> 
    <%= stylesheet_link_tag "960/reset", "960/text", "960/960", "droppy", "tabs-slideshow", "tabs-accordion", "fullcalendar", "application", :cache => true %> 

</head>

<body>
<!--
<div id="services-overlay" class="container_12">
        <div class="grid_4 alpha">
            <ul class="footer_section">
                <li><strong>Temple Baptist Church</strong>
                <br/>
                117 Marlin Road
                <br/>
                White House, TN 37188
                <br/>
                (615) 672-5339
                </li>
            </ul>
        </div>
        <div class="grid_4">
            <ul class="footer_section">
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
            </ul>
        </div>
        <div class="grid_4 omega">
            <ul class="footer_section">
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
            </ul>
        </div>

        <a id="services-tab">
        <span class="down">Service Times &nbsp; Info</span>
        </a>
</div>
-->

<div id="headerwrap">
<div class="container_12" id="header">
    <!-- header -->
    <div class="grid_12">
    <div id="logo">
    <a href="/">Temple Baptist Church</a>
    </div>
    </div>
</div>
</div>

<%= render :partial => "shared/simple_nav" %>
    <div class="clear"></div>
    <div class="clear"></div>

<div class="container_12" id="contentwrap">

    <div class="clear"></div>
    
    <!-- body -->
    <div class="grid_<%= @show_sidebar ? 8 : 12 %>" id="content">
    <%= yield %>
    </div>  

    <% if @show_sidebar %>
    <%= render :partial => "shared/sidebar" %>
    <% end %>
    <div class="clear"></div>

</div> <!-- end contentwrap -->
    <!-- footer -->
    <div class="container_12" id="footer">
        <div class="grid_4 alpha">
            <ul class="footer_section">
                <li><strong>Temple Baptist Church</strong>
                <br/>
                117 Marlin Road
                <br/>
                White House, TN 37188
                <br/>
                (615) 672-5339
                </li>
            </ul>
        </div>
        <div class="grid_4">
            <ul class="footer_section">
                <li><h4></h4></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <!--
        <div class="grid_4 omega">
            <ul class="footer_section">
                <li><h4>About Us</h4></li>
                <li><a href='#'>Contact Us</a></li>
                <li><a href='#'>Location</a></li>
                <li><a href='#'>Our Pastor</a></li>
                <li><a href='#'>Our Staff</a></li>
                <li><a href='#'>Our Beliefs</a></li>
                <li><a href='#'>Church Character</a></li>
            </ul>
        </div>-->
    </div>
<!--
    <li><a href='#'>Children</a>
        <li><a href='#'>Nursery</a></li>
        <li><a href='#'>Sunday School</a></li>
        <li><a href='#'>Vacation Bible School</a></li>

    <li><a href='#'>Youth</a>
        <li><a href='#'>Sunday School</a></li>
        <li><a href='#'>Missions</a></li>
        <li><a href='#'>Special Events</a></li>

    <li><a href='#'>Adults</a>
        <li><a href='#'>Sunday School</a></li>
        <li><a href='#'>Music</a></li>
        <li><a href='#'>G.R.O.W.</a></li>
        <li><a href='#'>Discipleship</a></li>
-->
    <script type='text/javascript'>
    $(function() {
        /*$("ul.sf-menu").superfish({ 
            pathClass:  'current' 
        });*/
        $('#nav').droppy({speed: 150});
    });
    </script>

    <%= render :partial => "shared/analytics" if RAILS_ENV == 'production' %>

</body>
</html>
