<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Temple Baptist Church, White House, TN</title>
    <%= javascript_include_tag "jquery", "jquery.tools.min", "jquery.droppy", "fullcalendar/fullcalendar", "fullcalendar/gcal", "flowplayer-3.1.4.min", "application" %> 
    <%= stylesheet_link_tag "960/reset", "960/text", "960/grid", "droppy", "tabs-slideshow", "fullcalendar", "application" %> 

</head>

<body>

<div id="services-overlay" class="container_12">
        <div class="grid_4 alpha">
            <ul class="footer_section">
                <li><strong>Temple Baptist Church</strong>
                <br/>
                117 Marlin Road
                <br/>
                White House, TN 37188
                <br/>
                (615) 672-5339
                </li>
            </ul>
        </div>
        <div class="grid_4">
            <ul class="footer_section">
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
            </ul>
        </div>
        <div class="grid_4 omega">
            <ul class="footer_section">
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
                <li>Pellentesque habitant</li>
            </ul>
        </div>

        <a id="services-tab">
        <span class="down">Service Times &nbsp; Info</span>
        </a>
</div>

<div id="headerwrap">
<div class="container_12" id="header">
    <!-- header -->
    <div class="grid_12">
    <div id="logo">
    <h1><a href="/">Temple Baptist Church</a></h1>
    </div>
    <ul id='navbar'>
    <li><a href='/'>Home</a></li>
    <li><a href='/'>About Us</a></li>
    <li><a href='/'>Children</a></li>
    <li><a href='/'>Youth</a></li>
    <li><a href='/'>Adults</a></li>
    <li><a href='/'>Calendar</a></li>
    </ul>

    </div>
</div>
</div>

<div class="container_12" id="contentwrap">
    <!--<div class="grid_12" id="doublebar"></div> -->

    <!-- header 
    <div class="grid_12" id="header">
    <div id="logo">
    <h1><a href="/">Temple Baptist Church</a></h1>
    </div>
    
    <ul id='navbar'>
    <li><a href='/'>Home</a></li>
    <li><a href='/'>About Us</a></li>
    <li><a href='/'>Children</a></li>
    <li><a href='/'>Youth</a></li>
    <li><a href='/'>Adults</a></li>
    <li><a href='/'>Calendar</a></li>
    </ul>

    </div>
    <div class="clear"></div>
    -->

    <!-- nav 
    <div class="grid_12" id="navigation">
    <ul id='nav'>
    <li><a href='/'>Home</a></li>

    <li><a href='#'>About Us</a>
        <ul>
        <li><a href='#'>Contact Us</a></li>
        <li><a href='#'>Location</a></li>
        <li><a href='#'>Meet Our Pastor</a></li>
        <li><a href='#'>Meet Our Staff</a></li>
        <li><a href='#'>Church Covenant</a></li>
        <li><a href='#'>Church Character</a></li>
        </ul>
    </li>

    <li><a href='#'>Children</a>
        <ul>
        <li><a href='#'>Nursery</a></li>
        <li><a href='#'>Sunday School</a></li>
        <li><a href='#'>Vacation Bible School</a></li>
        </ul>
    </li>

    <li><a href='#'>Youth</a>
        <ul>
        <li><a href='#'>Sunday School</a></li>
        <li><a href='#'>Missions</a></li>
        <li><a href='#'>Special Events</a></li>
        </ul>
    </li>

    <li><a href='#'>Adults</a>
        <ul>
        <li><a href='#'>Sunday School</a></li>
        <li><a href='#'>Music</a></li>
        <li><a href='#'>G.R.O.W.</a></li>
        <li><a href='#'>Discipleship</a></li>
        </ul>
    </li>

    <li <%= params[:controller] == 'calendar' ? 'class="hover sticky"' : '' %>><a href='/calendar'>Calendar</a></li>

    </ul>


    </div>
    <div class="clear"></div>
    -->

    <!-- body -->
    <div class="grid_8" id="content">
    <%= yield %>
    </div>  

    <%= render :partial => "shared/sidebar" %>
    <div class="clear"></div>

</div> <!-- end contentwrap -->
    <!-- footer -->
    <div class="container_12" id="footer">
        <div class="grid_4 alpha">
            <ul class="footer_section">
                <li><strong>Temple Baptist Church</strong>
                <br/>
                117 Marlin Road
                <br/>
                White House, TN 37188
                <br/>
                (615) 672-5339
                </li>
            </ul>
        </div>
        <div class="grid_4">
            <ul class="footer_section">
                <li><h4></h4></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div class="grid_4 omega">
            <ul class="footer_section">
                <li><h4>About Us</h4></li>
                <li><a href='#'>Contact Us</a></li>
                <li><a href='#'>Location</a></li>
                <li><a href='#'>Our Pastor</a></li>
                <li><a href='#'>Our Staff</a></li>
                <li><a href='#'>Our Beliefs</a></li>
                <li><a href='#'>Church Character</a></li>
            </ul>
        </div>
    </div>
<!--
    <li><a href='#'>Children</a>
        <li><a href='#'>Nursery</a></li>
        <li><a href='#'>Sunday School</a></li>
        <li><a href='#'>Vacation Bible School</a></li>

    <li><a href='#'>Youth</a>
        <li><a href='#'>Sunday School</a></li>
        <li><a href='#'>Missions</a></li>
        <li><a href='#'>Special Events</a></li>

    <li><a href='#'>Adults</a>
        <li><a href='#'>Sunday School</a></li>
        <li><a href='#'>Music</a></li>
        <li><a href='#'>G.R.O.W.</a></li>
        <li><a href='#'>Discipleship</a></li>
-->
    <script type='text/javascript'>
    $(function() {
        $('#nav').droppy({speed: 150});
    });
    </script>


</body>
</html>
